Makefile.in
aclocal.m4
autom4te.cache/
build/
buildx86/
buildx64/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing

# Xcode
## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint